
<!-- Content Row -->
<div class="row">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Day-To-Day Schedule</h2>
        <p class="card-text">
          This is where you can track your events for the day, so you can always be sure that you're making enough time for your children!
        </p>
      </div>
      <div class="card-footer">
        <a routerLink="schedule" routerLinkActive="active" class="btn btn-primary btn-sm"
          >Schedule</a
        >
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">To-Do List</h2>
        <p class="card-text">
          If you have a busy schedule and are afraid that you're going to forget what you have to do each day, fret no more with our convenient todo list section!
        </p>
      </div>
      <div class="card-footer">
        <a routerLink="list" routerLinkActive="active" class="btn btn-success btn-sm">List</a>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Daily Behavior Log</h2>
        <p class="card-text">
          Use our daily log to chart your child's behavior throughout the morning and afternoon. Keep track of what your child has been doing and what they can improve on by jotting it down in the comments!
        </p>
      </div>
      <div class="card-footer">
        <a routerLink="chart" routerLinkActive="active" class="btn btn-danger btn-sm">Log</a>
      </div>
    </div>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->
