<!-- Heading Row -->
<div class="row align-items-center my-5">
  <div class="col-lg-7">
    <img
      class="img-fluid rounded mb-4 mb-lg-0"
      src="https://i.ibb.co/mycYyjx/childcare-logo.jpg"
      alt=""
    />
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-5">
    <h1 class="font-weight-light">Tiny Steps ChildCare</h1>
    <p>
      This is an all-in-one childcare application that makes it so easy for
      parents to spend more time with their children and to keep them on a
      regular schedule. Take advantage of our day-to-day schedule, to-do list,
      and daily behavior chart to improve the communication between you and your
      child!
    </p>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->
<!-- Call to Action Well -->
<div class="card text-white bg-info my-5 py-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">
      Small Steps to Giant Leaps. Sweet Child Care Service for Working Parents.
    </p>
  </div>
</div>
