<app-nav></app-nav>
<!-- Page Content -->
<div class="container">
  <app-content></app-content>
  <!-- Heading Row -->
  <div class="row my-5">
    <div class="col-lg-7">
      <h2 class="font-weight-light">PARENT PROFILE</h2>
      <p><span class="lead">First Name:</span> {{ firstName }}</p>
      <p><span class="lead">Last Name:</span> {{ lastName }}</p>
      <p><span class="lead">Email:</span> {{ email }}</p>
      <p><span class="lead">Phone #:</span> {{ phone }}</p>
      <p><span class="lead">Child's Name:</span> {{ childName }}</p>
      <p><span class="lead">Child's Age:</span> {{ childAge }}</p>
      <p><span class="lead">Child's Gender:</span> {{ childGender }}</p>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h2 class="font-weight-light">EDIT PROFILE</h2>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">First Name</span>
        </div>
        <input
          [(ngModel)]="firstName"
          type="text"
          class="form-control"
          placeholder="First Name"
          aria-label="First Name"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Last Name</span>
        </div>
        <input
          [(ngModel)]="lastName"
          type="text"
          class="form-control"
          placeholder="Last Name"
          aria-label="Last Name"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input
          [(ngModel)]="email"
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Phone #</span>
        </div>
        <input
          [(ngModel)]="phone"
          type="text"
          class="form-control"
          placeholder="Phone"
          aria-label="Phone"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Child's Name</span>
        </div>
        <input
          [(ngModel)]="childName"
          type="text"
          class="form-control"
          placeholder="Child's Name"
          aria-label="Child's Name"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Child's Age</span>
        </div>
        <input
          [(ngModel)]="childAge"
          type="text"
          class="form-control"
          placeholder="Child's Age"
          aria-label="Child's Age"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Child's Gender</span>
        </div>
        <input
          [(ngModel)]="childGender"
          type="text"
          class="form-control"
          placeholder="Child's Gender"
          aria-label="Child's Gender"
          aria-describedby="basic-addon1"
        />
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
